/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  /* --theme-brand: #d5501c;
  --theme-brand-dark: #be3e0b;
  --theme-brand-light: #ec6a1f; */
  --theme-brand: #8b2346;
  --theme-brand-dark: #701732;
  --theme-brand-light: #c73765;
  --titleHeight: 60px;
  --blue: #2a2185;
  --white: #fafafa;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

html,
body {
  height: 100%;
  width: 100%;
}

#titleDiv{
  height: var(--titleHeight);
  background-color: var(--theme-brand);
}

h1{
  padding: 0 1rem;
  color: var(--white);
}

#viewDiv {
  height: calc(100% - var(--titleHeight));
  width: 100%;
  margin: 0;
  padding: 0;
}

#infoDiv {
  /* padding: 6px; */
  width: 370px; /*width required as DOM element even though it's inside an Expand widget*/
  /*height: calc(97% - var(--titleHeight)); */
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  /* top: calc(10px + var(--titleHeight)); */
  /* right: 10px; */
  --calcite-color-brand: var(--theme-brand);
  --calcite-color-brand-hover: var(--theme-brand-light);
  --calcite-z-index-header: 10; /*the default is oddly high*/
}


.esri-ui {
  right: 0 !important; /*corrects padding assigned to viewDiv in map.js*/
}


#resultsDiv {
  overflow: auto;
  display: none;
}

#queryControl {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

#tileControl {
  position: absolute;
  bottom: 20px;
  left: 300px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 10px;
  color: var(--blue);
}

.topbar .topBtn {
  width: 130px;
  margin: 0 10px;
  height: 40px;
  border-radius: 16px;
  padding: 5px 7px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: var(--gray);
  border: none;
}

.topbar .topBtn ion-icon {
  font-size: 1.6rem;
}

.topbar .topBtn:hover {
  background-color: var(--blue);
  color: var(--white)
}

/* ======================= Modal ====================== */
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 100; 
  padding-top: 8vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: var(--white);
  margin: auto;
  padding: 0;
  border: 1px solid var(--black1);
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  line-height: 1.4rem;
}

.modal-content h3 {
  margin-bottom: 1rem;
}

.modal-content p:last-of-type {
  margin-top: 1.5rem;
  text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-200px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-200px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: var(--white);
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 8px 16px;
  background-color: var(--theme-brand-light);
  color: var(--white);
  line-height: 2.4rem;
}

.modal-body {padding: 16px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: var(--theme-brand-light);
  color: var(--white);
}

.modal-list {
  margin-left: 2rem;
}

.modal-list li {
  padding: 0.1rem 0;
}

#filterButtonsPreview {
  height: 60px;
  width: auto;
}

.modal-app-preview-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.modal-app-preview-box {
  margin: 2rem auto;
  width: 90%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  transition: 0.5s;
}

.modal-app-preview {
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-app-pic {
  padding: 0;
  margin: 0;
}

.modal-app-pic img {
  height: 140px;
  width: auto;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

.modal-app-title {
  text-align: center;
}

/* ======================= Buttons ====================== */

.buttonBox {
  z-index: 1;
  position: absolute;
  width: 60%;
  margin: 0em 6em;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  transition: 0.5s;
}

.buttonBox .btn {
  position: relative;
  background: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border: none;
  z-index: 1;
}

.buttonBox .btn .btnTitle {
  position: relative;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--blue);
  margin: 0;
  padding: 0;
}
.buttonBox .btn .iconBx {
  font-size: 2.3rem;
  color: var(--black2);
  align-items: center;
  margin: 0;
  padding-top: 0.3rem;
}

/* .buttonBox .btn:hover,
.buttonBox .btn.selected:hover {
  background: var(--theme-brand);
} */

.buttonBox #plantsBtn:hover {
  background: rgb(44, 164, 31);
  outline: var(--white) 2px solid;
}
.buttonBox #animalsBtn:hover {
  background: orange;
  outline: var(--white) 2px solid;
}
.buttonBox #facilitiesBtn:hover {
  background: lightpink;
  outline: var(--white) 2px solid;
}

.buttonBox .btn:hover .btnTitle,
.buttonBox .btn:hover .btnText,
.buttonBox .btn:hover .iconBx {
  color: var(--white);
}

.buttonBox .btn:active,
.buttonBox .btn.selected:active {
  background-color: var(--theme-brand);
}

.buttonBox .btn.selected {
  background-color:  var(--theme-brand-light);
}
.buttonBox .btn.selected .btnTitle,
.buttonBox .btn.selected .iconBx {
  color:  var(--gray);
}

.buttonBox .icon {
  display: none;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 1200px) {
  .topbar h1 {
    font-size: 1.6rem;
  }

  .modal-app-preview-box {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .buttonBox {
    grid-template-columns: repeat(3, 1fr);
    margin: 0em 3em;
  }
}

@media (max-width: 1000px) {
  .topbar h1 {
    font-size: 1.4rem;
    padding: 0rem 0.3rem;
    margin: 0;
  }

  .topbar .topBtn {
    font-size: 0.9rem;
    width: 80px;
    margin: 0;
  }

  .topbar .topBtn ion-icon {
    font-size: 1.4rem;
  }

  .buttonBox {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 4em;
    padding: 20px 20px;
    gap: 10px;
    width: 40%;
  }
  .buttonBox .btn {display: none;}

  .buttonBox .btn {
    padding: 10px 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  
  .buttonBox .btn .btnTitle {
    font-weight: 500;
    font-size: 1.3rem;
    float: inline-start;
    padding-top: 0.1rem;
  }
  
  .buttonBox .btn .iconBx {
    font-size: 1.5rem;
    align-items: center;
    margin: 0;
    padding-top: 0.0rem;
    float: inline-end;
  }

  .buttonBox button.icon {
    float: left;
    display: block;
    font-weight: 500;
    font-size: 2.0rem;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    background: var(--white);
    color: var(--blue);
    width: fit-content;
    padding: 0.3rem 0.3rem 0rem 0.3rem;
    border-radius: 10px;
  }

  .buttonBox.responsive .btn:not(:first-child) {
    float: left;
    display: block;
    text-align: left;
    width: 10rem;
  }
}

@media(max-width: 650px){
  .topbar h1 {
    font-size: 1.1rem;
  }
  .modal-app-preview-box {
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
  }

  #filterButtonsPreview {
    display: none;
  }
}



