/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --theme-brand: #d5501c;
  --titleHeight: 60px;
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

html,
body {
  height: 100%;
  width: 100%;
}

#titleDiv{
  height: var(--titleHeight);
  background-color: var(--theme-brand);
}

h1{
  padding: 0 1rem;
  color: ivory;
}

#viewDiv {
  height: calc(100% - var(--titleHeight));
  width: 100%;
  margin: 0;
  padding: 0;
}

#infoDiv {
  padding: 6px;
  width: 370px;
  height: calc(97% - var(--titleHeight));
  position: absolute;
  top: calc(10px + var(--titleHeight));
  right: 10px;
  --calcite-color-brand: #71c96e;
  --calcite-color-brand-hover: #67b564;
}

#resultsDiv {
  overflow: auto;
  display: none;
}

#queryControl {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 10px;
  color: var(--black1);
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}


/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 70%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  transition: 0.5s;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .cardTitle {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
  margin: 0;
  padding: 0;
}

.cardBox .card .cardText {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3rem;
  color: var(--black2);
  align-items: center;
  margin: 0;
  padding-top: 0.8rem;
}

.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .cardTitle,
.cardBox .card:hover .cardText,
.cardBox .card:hover .iconBx {
  color: var(--white);
}



/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
